@import "tailwindcss";

@layer base {
  :root {
    font-family:
      "LXGW WenKai",
      -apple-system,
      system-ui,
      sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
